.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
}

.main_title {color: navy;
    font-family: "Anton", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}

.middle_title {color: navy;
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 0.12px;
    font-style: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.body_text {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.12px;
    font-style: normal;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 5px;
}

.material-box{
    margin: 5px 5px;
    border: 1px solid black;
    padding: 0 20px;
}


.example-box{
    margin: 30px 20px;
    border: 1px dashed black;
    padding: 0 20px;
}

.example {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.12px;
    font-style: normal;
    text-align: left;
}

.chartbox {
    margin-top: 50px;
}

.chapter {color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.selectpulldown {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 35px;
    padding: 3px 7px; 
}

.button {
    margin-left: 20px;
    background-color: lightgoldenrodyellow;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;    
}

.reference {
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 80;
    text-align: left;
    font-style: normal;
    margin-bottom: 10px;
}

.sankey-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.unit {
    width: 100%;
    text-align: right;
    font-size: 12px;
}
.sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: stretch;
    column-gap: 0;  
    }
    
.sankey-label {
    width: 60px;
    font-size: 20px;
    font-weight: 700;
}

.sankey-label.left {
  text-align: right;
  margin-left: 5px;
}

.sankey-label.right {
  width: 100%;
  text-align: right; 
}

.sankey-wrapper2 {
  display: grid;
    grid-template-columns: 0.2fr auto;
    width: 100%;
    justify-items: stretch;
    column-gap: 0; 
}