.main_title {color: navy;
    font-family: "Anton", sans-serif;
    font-optical-sizing: auto;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-style: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}

.body_text {
    color: black;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 0.12px;
    font-style: normal;
    margin-top: 10px;
    margin-bottom: 5px;
}

.chartbox {
    margin-top: 50px;
}

.chapter {color: black;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 20px;
}

.selectpulldown {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    height: 35px;
    padding: 3px 7px; 
}

.button {
    margin-left: 20px;
    background-color: lightgoldenrodyellow;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;    
}

.reference {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 80;
    font-style: normal;
    margin-bottom: 10px;
}